<!DOCTYPE html>
<html>
  <head>
    <title>UPGRADE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="<%= root_path %>">Codifun</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="<%= root_path %>">Главная страница <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_form_path %>">Новая Анкета</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= user_forms_path %>">Все записавшиеся</a>
          </li>
          
        </ul>
      </div>
    </nav>
</head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
